/* Structural Pseudo-classes------------------ */

.pseudo li:first-child {
    background: #52bab3;
    color: #ffffff;
}
.pseudo li:last-child {
    border: none;
}

span:only-child {
    color: #39add1;
    font-size: 1.5em;
}

li:empty {
    background: tomato;
}

/*  Use cases for empty: when returning a result to alert user that no results were returned

    Auditing an html file  ---------------------------------------------------------------*/


/* Base Styles -------------------------------- */

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    color: #384047;
    padding: 10px 0 80px;
}
.gallery {
    max-width: 610px;
    margin: auto;
}
.gallery ul {
    list-style: none;
    padding: 0;
}
li {
    margin-bottom: 14px;
}
a {
    color: #4183c4;
}


/* Substring matching attribute selectors */

/* Begins with */
a[href^="http:"] {
    color: #52bab3;
    text-decoration: none;
}

/* Ends with */
a[href$=".pdf"] {
    background-image: url('../img/icn-pdf.svg');
}

a[href$=".jpg"] {
    background-image: url('../img/icn-picture.svg');
}

a[href$=".zip"] {
    background-image: url('../img/icn-zip.svg');
}

/* Contains */

a[href*="downloads"] {
    background-repeat: no-repeat;
    background-size: 18px 18px;
    padding-left: 25px;
}

img[src*="thumb"] {
    margin: 4px;
    border: solid 2px;
    width: 180px;
    height: 140px;
}

img[src*="lake"] {
    border-color: red;
}

/* Special selectors are helpful when you don't have conrol over the html or
if you have dynamic content */
